nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1877f2;
  padding: 12px 20px;
  color: white;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav span {
  margin-right: 10px;
  font-weight: bold;
}

nav button {
  padding: 8px 12px;
  border: none;
  background: #fff;
  color: #1877f2;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

nav button:hover {
  background: #f0f2f5;
}
